<?xml version="1.0" encoding="utf-8" ?>
<!--
    FILE          : App.config
    PROJECT       : Project ManufacturingP01 - Assembly Line Kanban
    PROGRAMMER    : Julia Jakob
    FIRST VERSION : 2026-03-27
    DESCRIPTION   : Connection string settings for the Jubi SQL Server database, used by the WPF to get the Assembly Line
					stats to display for the user
-->
<configuration>
	<connectionStrings>
		<add name="JubiConnection"
			 connectionString="Server=localhost;Database=Jubi;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>