<?xml version="1.0" encoding="utf-8" ?>
<!--
    FILE          : App.config
    PROJECT       : Project ManufacturingP01 - ConfigTool (Milestone 1)
    PROGRAMMER    : Julia Jakob
    FIRST VERSION : 2026-03-27
    DESCRIPTION   : Connection string settings for the Jubi SQL Server database, used by the WPF Workstation Simulator to 
					update parts count in bins and access workers, workstations and configurations
-->
<configuration>
	<connectionStrings>
		<add name="JubiConnection"
			 connectionString="Server=localhost;Database=Jubi;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
